/* http://meyerweb.com/eric/tools/css/reset/
	 v2.0 | 20110126
	 License: none (public domain)
*/
applet, body, div, html, iframe, object, span,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
    padding: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
    border-collapse: collapse;
	border-spacing: 0;
}

/* LAYOUT STYLES */
body {
    color: #6d6d6d;
	font-family: 'Indie Flower', cursive;
	font-size: 1em;
	line-height: 1.5em;
}

/* HEADER */

.header {
    background: #1a1a1a;
    color: #fff;
    display: inline-block;
    left: 0;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 100;
}

.banner {
    bottom: 1.5em;
    left: 25%;
    position: absolute; 
    right: 20%;
    text-align: center;
    width: 50%;
}

.banner p {
    display: block;
    font-size: 1.5em;
    line-height: 1.75em;
    text-align: center;
}

.banner .button {  
    margin: 0 1em 0.5em 1em;
}

.inner {
    margin: 0 auto;
    width: 80%;    
}

.logo {
    display:block;
    float: left;
    margin-left: 1em;
}

.links {
    display: block;
    margin-right: 2em;
    margin-top: 2em;
    text-align: right;
}

.links li {
    display: inline-block;
    font-size: 1.1em;
    list-style: none;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.links a:hover {
	color: #eee;
}

@media screen and (max-width:1299px) {
    .banner {
        left: 30%;
    }
    .banner p {
        font-size: 1.25em;
        line-height: 1.5em;
        margin-bottom: 0.75em;
    }
    .banner .button {
        font-size: 1.2em;
        margin: 0 0.5em 0.5em 0.5em;
        padding: 0.25em 0.75em;
    }
}

@media screen and (max-width:899px) {
    .logo {
        margin-left: -1em;
    }
    .banner {
        left: 35%;
        width: 40%;
    }
    .banner .button {
        font-size: 1em;
    }
    .links li {
        display: block;
        margin-bottom: 1.5em;
    }
}

@media screen and (max-width:749px) {
    .banner p {
        display: none;
    }
    .banner .button {
        margin-top: 0.75em;
        width: 50%;
    }
    .links li {
        display: block;
    }
}

@media screen and (max-width:649px) {
    .logo {
        margin-left: 0;
    }
    .banner .button {
        display: none;
    }
    .links {
        text-align: center;
    }
}

@media screen and (max-width:499px) {
    .links {
        display: none;
    }
}

/* Facebook, Twitter, Google+ Social media cons */

ul.icons li span {
    display: none;
}

ul.icons li {
    display: inline-block;
    padding: 0 0.20em;
}

ul.icons li a:before {
    border: 1px solid #828282;
    border-radius: 100%;
    color: #828282;
    display: inline-block;
    font-size: 1.5em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    width: 2em;
}

ul.icons {
    cursor: default;
    text-align: center;
}

/* List boxes style */

ul.style {
    padding-top: 3em;
}

ul.style li {
    border-top: solid 1px #ececec;
    padding: 3em 0 3em 5em;
    position: relative;
}

ul.style > :first-child {
    border-top: none;
}

ul.style li:before {
    background: none;
    border-radius: 6px;
    display: block;
    font-size: 2.5em;
    height: 40px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 1em;
    width: 40px;
}

ul.style span {
    font-family: 'Indie Flower', cursive;
    line-height: 180%;
}

/* BUTTON */

.button {
    background: #1a1a1a;
    border: solid 1px #FF9615;
    border-radius: 12px;
    color: #FF9615;
    cursor: pointer;
    display: inline-block;
    font-size: 1.25em;
    font-weight: 300;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    width: 6em;
}

.button:hover {
    background: #FF9615;
    color: #1a1a1a;
}

/* CODE STYLE */

ul, ol, dl {
	margin-bottom: 20px;
}

/* COMMON STYLES */

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

/* GENERAL ELEMENT TYPE STYLES */

p {
	font-weight: 300;
	margin-bottom: 20px;
}

a {
    color: #FF9615;
    font-weight: 600;
	text-decoration: none;
}

h3 {
    color: #FF9615;
    font-family: 'Indie Flower', cursive;
    font-size: 1.5em;
    font-weight: 500;
    margin: 0 0 0.5em 0;
}

blockquote {
	border-left: 10px solid #e9e9e9;
	font-size: 1.6em;
	margin-bottom: 20px;
	padding: 0 0 0 30px;
}

dl dt {
	color: #303030;
}

footer {
    border-top: solid 1px #cccccc;
	color: #777;
	font-size: 0.8em;
	margin-top: 40px;
	padding-bottom: 30px;
	padding-top: 20px;
}
